<h1>Delete a Contact</h1>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Contact">
</form>


<!-- <form action="/contacts/<%= @contact.id %>" method="post"> -->