<p class="aligning">Welcome to my CRM App</p>


<p class="aligning_p">I am participating in a Hackathon!</p>
<p class="aligning_p">Looking for a strong team!</p>
<p class="aligning_p">If you are interested, please fill in your informationa and I will contact you!</p>

<!-- ------ XXXX -----

<label for="film-year">Date</label>
<input id="film-title" type="text" name="title"/>



<div>
<input id="date" type="text" name="title"/>
<input id="time" type="text" name="title"/>
<input id="email" type="text" name="title"/>
<input id="tel" type="text" name="title"/>
<input id="number" type="text" name="title"/>
</div>


<textarea name="Description" id="film-description" cols="30" rows="10"> 

</textarea>

<div>

	<label>
<input type="radio" name="rating" value="1"/> 1 star
</label>

<input type="radio" name="rating" value="1"/> 2 star
<input type="radio" name="rating" value="1"/> 3 star
<input type="radio" name="rating" value="1"/> 4 star
<input type="radio" name="rating" value="1"/> 5 star
</div>



 <form action="/films" methods="post"> 


 	<select name="film-genre" id="film-genre">
 		<option value="">Please select</option>
 			<option value="Wester">Western</option>
	</select>

	<input type="file" name="poster" />

	<input type="submit" value="submit" />
 -->


