<!DOCTYPE html>
<html>
  <head> 
  	<link rel="stylesheet" type="text/css" href="/style.css">
  	<title> CRM App </title>
  </head>
  
  <body>
  	<nav class="clearfix">
  		<h1>CRM App</h1>
	  	<ul class="navbar">
	  		<li><a href="/">Home</a></li>
				<li><a href="/contacts">Contacts</a></li>
				<li><a href="/contacts/new">Add</a></li>
				<li><a href="/contacts/search">Search</a></li>
				<!-- please complete me wih links to other actions  -->
			</ul>
  	</nav>
    <%= yield %>
  </body>
</html>