<h1 class="aligning">Create a new contact</h1>

<form action="/contacts" method="post">
	<label for="last_name">First Name: </label>
  <input type="text" name="first_name"><br><br>

  <label for="last_name">Last Name: </label>
  <input type="text" name="last_name"><br><br>

  <label for="email">Email: </label>
  <input type="text" name="email"><br><br>

  <label for="Note">Note: </label>
  <input type="text" name="note"><br><br>

  <label for="Submit"></label>
  <input type="submit" name="Submit">
</form>