<h1 class="aligning">Search</h1>
<div class="search">
<form action="/contacts/search" method="post">
	<label class="center" for="first_name">First Name: </label>
	<input class="center" type="text" name="first_name" value=""><br>
	<label class="center" for="first_name">Last Name: </label>
  <input class="center" type="text" name="last_name" value="">
  <input class="search_submit" type="submit" name="Submit">
</form>
</div>